In [1]:
import os
import sys

from datetime import datetime

import requests
from bs4 import BeautifulSoup

import numpy as np
import pandas as pd

import sklearn

import matplotlib as plt
import seaborn

import pytest
import PIL

In [2]:
# https://www.kaggle.com/datasets/aslanahmedov/walmart-sales-forecast?select=features.csv

In [3]:
train_df = pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')
df = features_df = pd.read_csv('../data/features.csv')
stores_df = pd.read_csv('../data/stores.csv')

df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [4]:
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor

In [5]:
x = df.drop(columns=["CPI"])
y = df["CPI"]

x = x.fillna(0)
y = y.fillna(0)

x["Date"] = x["Date"].apply(lambda value: datetime.fromisoformat(value).timestamp())

for col in x.columns:
    x[col] = pd.to_numeric(x[col])
        
y = pd.to_numeric(y, downcast='signed')
    
knn = KNeighborsRegressor()

knn.fit(x, y)

knn.score(x, y)

0.6791535432769006