In [1]:
import numpy as np
import pandas as pd
import sklearn

In [6]:
features_df=pd.read_csv('data/features.csv')
store_df=pd.read_csv('data/features.csv')
sales_df=pd.read_csv('data/features.csv')

In [10]:
features_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [28]:
features_df.MarkDown5.value_counts(dropna=False)
#seems like theres no 0's in MarkDowns so we wont lose any information turning Nan into 0's

NaN        4140
986.23        2
1327.97       2
3113.78       2
2743.18       2
           ...
3296.96       1
1899.49       1
4742.74       1
2482.91       1
1864.57       1
Name: MarkDown5, Length: 4046, dtype: int64

In [29]:
features_df["MarkDown5"]=features_df["MarkDown5"].fillna(0)
features_df["MarkDown4"]=features_df["MarkDown4"].fillna(0)
features_df["MarkDown3"]=features_df["MarkDown3"].fillna(0)
features_df["MarkDown2"]=features_df["MarkDown2"].fillna(0)
features_df["MarkDown1"]=features_df["MarkDown1"].fillna(0)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,False
5,1,2010-03-12,57.79,2.667,0.0,0.0,0.0,0.0,0.0,211.380643,8.106,False
6,1,2010-03-19,54.58,2.720,0.0,0.0,0.0,0.0,0.0,211.215635,8.106,False
7,1,2010-03-26,51.45,2.732,0.0,0.0,0.0,0.0,0.0,211.018042,8.106,False
8,1,2010-04-02,62.27,2.719,0.0,0.0,0.0,0.0,0.0,210.820450,7.808,False
9,1,2010-04-09,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,False