In [1]:
import os
import shutil

import pandas as pd

import src.childs_draw as childs_draw

In [2]:
if os.path.isdir('./temp'):
    shutil.rmtree('./temp')
os.mkdir('./temp')

childs_draw.set_save_images_folder('./temp')

In [3]:
res = childs_draw.child_draw_describe(7557, 12, True)
res

,X,Y,Pressure,TiltX,TiltY,Time,TimeDiff,PressureDiff,XDiff,YDiff,TiltXDiff,TiltYDiff
0,691.872965,584.284559,0.750240,3369.0,390.0,3.252172,0.015745,0.014649,-3.370366,0.157986,0.0,0.0
1,688.502598,584.442545,0.764889,3369.0,390.0,3.267917,0.015509,-0.035157,-7.162028,0.263310,0.0,0.0
2,681.340571,584.705855,0.729732,3369.0,390.0,3.283426,0.015614,0.036622,-0.579282,0.105324,0.0,0.0
3,680.761289,584.811179,0.766354,3369.0,390.0,3.299041,0.015675,0.031495,0.000000,0.000000,0.0,0.0
4,680.761289,584.811179,0.797848,3369.0,390.0,3.314715,0.015572,0.014893,0.789930,1.158563,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
153,703.089964,640.948839,0.713375,2562.0,838.0,8.545009,0.031392,-0.005127,-1.474535,1.527197,0.0,0.0
154,701.615429,642.476036,0.708247,2562.0,838.0,8.576401,0.000000,-0.017578,-4.265620,3.896986,0.0,0.0
155,697.349809,646.373022,0.690669,2562.0,838.0,8.576401,0.015490,-0.028565,-1.421873,1.263887,0.0,0.0
156,695.927936,647.636910,0.662104,2562.0,838.0,8.591891,0.000000,-0.419440,-6.635408,4.844901,0.0,0.0
157,689.292528,652.481811,0.242664,2562.0,838.0,8.591891,0.000000,0.000000,0.000000,0.000000,0.0,0.0

In [4]:
childs_draw.child_draw_describe(7554, 10, True)
res

{'Hands Up': 4,
 'Lines Count': None,
 'Exist Closed Shapes': True,
 'Closed Shapes Count': 1}

In [5]:
res = childs_draw.child_draw_describe(7557, 14, True)
res

{'Hands Up': 13,
 'Lines Count': None,
 'Exist Closed Shapes': False,
 'Closed Shapes Count': 0}

In [6]:
res = childs_draw.child_draw_describe(7554, 14, True)
res

{'Hands Up': 7,
 'Lines Count': None,
 'Exist Closed Shapes': True,
 'Closed Shapes Count': 21}

In [20]:
def test_child(child_id: int):
    if os.path.isdir('./temp'):
        shutil.rmtree('./temp')
    os.mkdir('./temp')

    childs_draw.set_save_images_folder('./temp')
    
    arr = []
    for i in range(1, 21 + 1):
        print("child_draw_describe ", i)
        res = childs_draw.child_draw_describe(child_id, i, True)
        arr.append(res)
    
    res = pd.DataFrame(arr)
    res.index = range(1, 21 + 1)
    
    return res

In [21]:
res = test_child(7554)
res

child_draw_describe  1
child_draw_describe  2
child_draw_describe  3
child_draw_describe  4
child_draw_describe  5
child_draw_describe  6
child_draw_describe  7
child_draw_describe  8
child_draw_describe  9
child_draw_describe  10
child_draw_describe  11
child_draw_describe  12
child_draw_describe  13
child_draw_describe  14
child_draw_describe  15
child_draw_describe  16
child_draw_describe  17
child_draw_describe  18
child_draw_describe  19
child_draw_describe  20
child_draw_describe  21

    Hands Up Lines Count  Exist Closed Shapes  Closed Shapes Count
1         92        None                False                    0
2        177        None                False                    0
3        154        None                False                    0
4        280        None                 True                    1
5          2        None                False                    0
6        802        None                False                    0
7          9        None                False                    0
8          2        None                False                    0
9          5        None                 True                   17
10         7        None                False                    0
11         5        None                 True                    1
12         3        None                 True                    1
13         4        None                 True                    2
14         7        None                 True                   21
15         5        None                 True                    8
16         3        None                 True                    5
17         1        None                 True                    8
18        12        None                 True                   24
19         7        None                 True                   17
20         3        None                False                    0
21         5        None                 True                    2

AttributeError: module 'src.a' has no attribute 'sum'