In [4]:
import os
import shutil

import pandas as pd

import src.childs_draw as childs_draw

In [5]:
if os.path.isdir('./temp'):
    shutil.rmtree('./temp')
os.mkdir('./temp')

childs_draw.set_save_images_folder('./temp')

In [3]:
res = childs_draw.child_draw_describe(7557, 12, True)
res

{'Hands Up': 4,
 'Lines Count': None,
 'Exist Closed Shapes': True,
 'Closed Shapes Count': 1}

In [4]:
childs_draw.child_draw_describe(7554, 10, True)
res

{'Hands Up': 4,
 'Lines Count': None,
 'Exist Closed Shapes': True,
 'Closed Shapes Count': 1}

In [5]:
res = childs_draw.child_draw_describe(7557, 14, True)
res

{'Hands Up': 13,
 'Lines Count': None,
 'Exist Closed Shapes': False,
 'Closed Shapes Count': 0}

In [6]:
res = childs_draw.child_draw_describe(7554, 14, True)
res

{'Hands Up': 7,
 'Lines Count': None,
 'Exist Closed Shapes': True,
 'Closed Shapes Count': 21}

In [20]:
def test_child(child_id: int):
    if os.path.isdir('./temp'):
        shutil.rmtree('./temp')
    os.mkdir('./temp')

    childs_draw.set_save_images_folder('./temp')
    
    arr = []
    for i in range(1, 21 + 1):
        print("child_draw_describe ", i)
        res = childs_draw.child_draw_describe(child_id, i, True)
        arr.append(res)
    
    res = pd.DataFrame(arr)
    res.index = range(1, 21 + 1)
    
    return res

In [21]:
res = test_child(7554)
res

child_draw_describe  1
child_draw_describe  2
child_draw_describe  3
child_draw_describe  4
child_draw_describe  5
child_draw_describe  6
child_draw_describe  7
child_draw_describe  8
child_draw_describe  9
child_draw_describe  10
child_draw_describe  11
child_draw_describe  12
child_draw_describe  13
child_draw_describe  14
child_draw_describe  15
child_draw_describe  16
child_draw_describe  17
child_draw_describe  18
child_draw_describe  19
child_draw_describe  20
child_draw_describe  21

    Hands Up Lines Count  Exist Closed Shapes  Closed Shapes Count
1         92        None                False                    0
2        177        None                False                    0
3        154        None                False                    0
4        280        None                 True                    1
5          2        None                False                    0
6        802        None                False                    0
7          9        None                False                    0
8          2        None                False                    0
9          5        None                 True                   17
10         7        None                False                    0
11         5        None                 True                    1
12         3        None                 True                    1
13         4        None                 True                    2
14         7        None                 True                   21
15         5        None                 True                    8
16         3        None                 True                    5
17         1        None                 True                    8
18        12        None                 True                   24
19         7        None                 True                   17
20         3        None                False                    0
21         5        None                 True                    2

In [42]:
import src.a as a
a.test

AttributeError: module 'src.a' has no attribute 'sum'